{% extends 'base.html.twig' %}

{% block title %}Analizator Tablic{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row g-4 justify-content-center align-items-stretch">

            <div class="col-12 col-lg-6 d-flex">
                {% include 'array_analyzer/_form.html.twig' %}
            </div>

            <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
                {% include 'array_analyzer/_result.html.twig' %}
            </div>

        </div>
    </div>
{% endblock %}
